---
import { projects } from "../../Content/projects";
import type { PROJECT } from "../../Types/types-interfaces";
---

<div class="projects-container">
  <h1 id="project-header">Projects</h1>
  <ul class="projects-list">
    {
      projects.map((project: PROJECT) => (
        <li class="project">
          <img src={project.image} alt={project.title} />
          <div class="project-information">
            <h2>{project.title}</h2>
            <p class="project-description">{project.description.en}</p>
            <ul class="skills-list">
              {project.skills.map((skill) => (
                <li>#{skill}</li>
              ))}
            </ul>
            <div class="project-options">
              <a href={project.githubLink} target="_blank">
                <i class="fa-brands fa-github" />
              </a>
              <a href={project.netlifyLink} target="_blank">
                <i class="fa-solid fa-arrow-up-right-from-square" />
              </a>
            </div>
          </div>
        </li>
      ))
    }
  </ul>
  <div class="projects-link">
    <a
      id="project-link"
      href="https://github.com/orlandoalvareza?tab=repositories"
      target="_blank"
    >
      View full projects archive in GitHub
    </a>
    <i class="fa-solid fa-arrow-right"></i>
  </div>
</div>

<style>
  .projects-container {
    width: 1000px;
  }

  .projects-container h1 {
    margin-bottom: 15px;
    text-align: center;
  }

  .project {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
  }

  .project:nth-child(2n + 1) {
    text-align: right;
  }

  .project:nth-child(2n) {
    flex-direction: row-reverse;
  }

  .project img {
    width: 570px;
    height: 320px;
    object-fit: fill;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  }

  .project::after {
    position: absolute;
    content: "";
    background: rgba(55, 107, 126, 0.2);
    width: 570px;
    height: 100%;
    z-index: 1;
  }

  .project-information {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .project:nth-child(2n + 1) .project-information {
    align-items: flex-end;
    left: 510px;
  }

  .project:nth-child(2n) .project-information {
    right: 510px;
  }

  .project-information h2,
  .skills-list,
  .project-options {
    width: 85%;
  }

  .project-information p {
    line-height: 20px;
    color: var(--second-color);
    background: var(--fourth-color);
    padding: 16px 20px;
    text-align: center;
    border-radius: 8px;
    margin: 8px 0;
    box-shadow:
      rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    z-index: 5;
  }

  .skills-list,
  .project-options {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
  }

  .project:nth-child(2n) .skills-list,
  .project:nth-child(2n) .project-options {
    justify-content: flex-start;
  }

  .project-options {
    font-size: 20px;
    padding: 2px 5px;
  }

  .project-options a {
    color: var(--fifth-color);
  }

  .project-options a:hover {
    color: var(--fourth-color);
  }

  .projects-link {
    text-align: center;
    margin-top: 10px;
  }

  .projects-link a,
  .projects-link i {
    color: var(--fifth-color);
  }

  .projects-link a:hover {
    color: var(--fourth-color);
  }

  .projects-link i {
    margin-left: 6px;
  }

  :global(.dark) .projects-container h1,
  :global(.dark) .project-options a:hover,
  :global(.dark) .projects-link a:hover {
    color: var(--first-color-dark);
  }

  :global(.dark) .project-information h2,
  :global(.dark) .skills-list li,
  :global(.dark) .project-options a,
  :global(.dark) .projects-link a,
  :global(.dark) .projects-link i {
    color: var(--fifth-color-dark);
  }

  :global(.dark) .project::after {
    background: rgba(105, 109, 117, 0.2);
  }

  @media screen and (max-width: 480px) {
    .projects-container {
      width: 350px;
    }

    .projects-container h1 {
      font-size: 1.6rem;
      margin-bottom: 50px;
    }

    .project {
      margin-bottom: 270px;
    }

    .project img {
      width: 350px;
      height: 200px;
      border-radius: 5px 5px 0 0;
    }

    .project::after {
      width: 350px;
      border-radius: 5px 5px 0 0;
    }

    .project:nth-child(2n + 1) .project-information {
      top: 200px;
      left: 0;
    }

    .project:nth-child(2n) .project-information {
      top: 200px;
      right: 0;
    }

    .project-information {
      display: grid;
      gap: 0;
      background: var(--second-color);
      padding: 10px 15px 5px;
      border-radius: 0 0 5px 5px;
      box-shadow:
        rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
        rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    }

    .project-information h2,
    .project-options {
      width: 100%;
    }

    .project-information h2 {
      grid-column: 1;
      grid-row: 1;
      font-size: 1.2rem;
      color: var(--fourth-color);
      text-align: left;
    }

    .project-information p {
      grid-column: 1 / span 2;
      grid-row: 2;
      font-size: 14px;
      color: var(--fifth-color);
      background: transparent;
      padding: 0;
      border-radius: 0;
      box-shadow: none;
      text-align: left;
    }

    .skills-list {
      display: none;
    }

    .project-options {
      grid-column: 2;
      grid-row: 1;
      font-size: 18px;
    }

    .project:nth-child(2n) .project-options {
      justify-content: flex-end;
    }

    .project-options a {
      color: var(--fourth-color);
    }

    .projects-link {
      font-size: 14px;
    }

    .projects-link i {
      font-size: 12px;
    }

    :global(.dark) .project-information {
      background: var(--fourth-color-dark);
      box-shadow:
        rgba(162, 162, 166, 0.15) 0px 2px 5px 0px,
        rgba(191, 189, 189, 0.05) 0px 1px 1px 0px;
    }

    :global(.dark) .project-information h2,
    :global(.dark) .project-options a {
      color: #5f8b9c;
    }

    :global(.dark) .project-information p {
      color: var(--fifth-color-dark);
    }
  }

  @media screen and (min-width: 481px) and (max-width: 767px) {
    .projects-container {
      width: 465px;
    }

    .projects-container h1 {
      font-size: 1.7rem;
    }

    .project {
      margin-bottom: 180px;
    }

    .project img {
      width: 320px;
      height: 190px;
    }

    .project::after {
      width: 320px;
    }

    .project:nth-child(2n + 1) .project-information {
      top: 60px;
      left: 70px;
    }

    .project:nth-child(2n) .project-information {
      top: 60px;
      right: 70px;
    }

    .project-information h2,
    .skills-list,
    .project-options {
      width: 140px;
    }

    .project-information h2 {
      order: 1;
      font-size: 1.2rem;
    }

    .project-information p {
      order: 4;
      font-size: 14px;
      padding: 12px;
    }

    .skills-list {
      font-size: 13px;
      order: 2;
    }

    .project-options {
      order: 3;
      font-size: 14px;
    }

    .projects-link {
      font-size: 14px;
    }

    .projects-link i {
      font-size: 12px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .projects-container {
      width: 730px;
    }

    .projects-container h1 {
      font-size: 1.8rem;
    }

    .project {
      margin-bottom: 85px;
    }

    .project img {
      width: 420px;
      height: 260px;
    }

    .project::after {
      width: 420px;
    }

    .project-information {
      gap: 5px;
    }

    .project-information h2 {
      font-size: 1.3rem;
    }

    .project:nth-child(2n + 1) .project-information {
      left: 360px;
    }

    .project:nth-child(2n) .project-information {
      right: 360px;
    }

    .project-information p {
      line-height: 19px;
      padding: 12px;
    }

    .skills-list li {
      display: none;
    }

    .project-options {
      font-size: 18px;
    }
  }

  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    .projects-container {
      width: 960px;
    }
  }
</style>

<script>
  import "../../scripts/projects";
</script>
