---
import projects from "../Content/projects";
import type { PROJECT } from "../Types/types-interfaces";
---

<div class="projects-container">
  <h1>Projects</h1>
  <ul class="projects-list">
    {
      projects.map((project: PROJECT) => (
        <li class="project">
          <img src={project.image} alt={project.title} />
          <div class="project-information">
            <h2>{project.title}</h2>
            <p>{project.description}</p>
            <ul class="skills-list">
              {project.skills.map((skill) => (
                <li>{skill}</li>
              ))}
            </ul>
            <div class="project-options">
              <a>
                <i class="fa-brands fa-github" />
              </a>
              <a>
                <i class="fa-solid fa-arrow-up-right-from-square" />
              </a>
            </div>
          </div>
        </li>
      ))
    }
  </ul>
  <a href="https://github.com/orlandoalvareza" target="_blank">
    View full projects archive in GitHub <i class="fa-solid fa-arrow-right"></i>
  </a>
</div>

<style>
  .projects-container {
    width: 1000px;
  }

  .projects-container h1 {
    margin-bottom: 15px;
    text-align: center;
  }

  .project {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
  }

  .project:nth-child(2n + 1) {
    text-align: right;
  }

  .project:nth-child(2n) {
    flex-direction: row-reverse;
  }

  .project img {
    width: 570px;
    height: 320px;
    object-fit: cover;
    border-radius: 3px;
  }

  .project-information {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .project:nth-child(2n + 1) .project-information {
    align-items: flex-end;
    left: 510px;
  }

  .project:nth-child(2n) .project-information {
    right: 510px;
  }

  .project-information h2,
  .skills-list,
  .project-options {
    width: 85%;
  }

  .project-information p {
    background: slateblue;
    padding: 16px 20px;
    text-align: center;
    border-radius: 8px;
    margin: 8px 0;
  }

  .skills-list,
  .project-options {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
  }

  .project:nth-child(2n) .skills-list,
  .project:nth-child(2n) .project-options {
    justify-content: flex-start;
  }

  .project-options {
    font-size: 20px;
    padding: 2px 5px;
  }

  .projects-container > a {
    display: block;
    padding: 5px 0;
    text-align: center;
  }
</style>
